html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-width: 320px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    color: #2b2b2b;
    height: 100%;

    padding: 1em 1em 1em 1em;

    line-height: 1.42857143;
}
ol,
ul,
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0px;
}
#explanatory_notes_wrap {
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    padding: 5px 10px;
    z-index: 2;
}

#explanatory_type {
    padding: 5px 15px 0 15px;
}

#explanatory_type > div > div {
    margin: 2px 0px 10px 0px;
    font-size: 12px;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
}

#explanatory_notes_wrap #explanatory_type span {
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: top;
    text-align: center;
}

/* 좌석 유형 */

.explanatory_type_1 {
    background-color: #fff;
}

.explanatory_type_2 {
    background-color: #9fd7e7;
}
.explanatory_type_3 {
    background-color: #aaaaaa;
}

.seat_table_wrap_img {
    /* max-width: initial !important; */
    max-width: none;
}

.seat_table_wrap {
    background: #f5f8fe;
}

.seat_table_wrap {
    position: absolute;
    top: 110px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch;
    /* iOS 스크롤 부드럽게 */
    /*min-height: 600px;*/
}

.seat_table_wrap_content {
    background-color: #f5f5f5;
}

.seatTable table {
    background-color: #fff;
    outline: 5px solid #e8e8e8;
}

.seatTable table tr {
    overflow: hidden;
}

td.seat_style {
    position: relative;
    height: 40px;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,bfbfbf+100&0+86,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(164, 164, 164, 0) 55%, rgba(191, 191, 191, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(164, 164, 164, 0) 55%, rgba(191, 191, 191, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(164, 164, 164, 0) 55%, rgba(191, 191, 191, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6bfbfbf', GradientType=0);
    /* IE6-9 */
}

td.seat_style ul {
    position: absolute;
    top: 3px;
    z-index: 1;
}

td.seat_style ul li {
    float: left;
    margin: 1px 0px 0px 2px;
}

td.seat_style ul li i {
    color: #fff;
    font-size: 10px;
    vertical-align: 5px;
}

.seat_num {
    position: absolute;
    left: 8px;
    top: 20px;
    vertical-align: 2px;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}

/* 이용중 좌석 */

span.seat_type_using {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 38px;
    background-color: #9fd7e7;
}
span.seat_type_free {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 38px;
    background-color: #9fd7e7;
}

span.seat_type_none {
    display: inline-block;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url('explanatory_type_line2.png');
    background-size: 100% 100%;
    text-align: left;
    z-index: 2;
}

span.type_line2 {
    background: url('explanatory_type_line2.png');
    background-size: 100% 100%;
    text-align: left;
}

td.seat_style ul {
    position: absolute;
    top: 3px;
    z-index: 1;
}
td.seat_style ul li {
    float: left;
    margin: 1px 0px 0px 2px;
}
td.seat_style ul li i {
    color: #fff;
    font-size: 10px;
    vertical-align: 5px;
}

span.seat_type_1 i {
    color: #0b52a3;
}
span.seat_type_2 i {
    color: #d90000;
}
span.seat_type_6,
span.seat_type_7,
span.seat_type_9,
span.seat_type_10,
span.seat_type_11,
span.seat_type_12,
span.seat_type_13 {
    display: inline-block;
    width: 13px;
    height: 13px;
}

.explanatory_type_6,
span.seat_type_6 {
    background-color: #2c78d6;
}
.explanatory_type_7,
span.seat_type_7 {
    background-color: #00a376;
}

#explanatory_type {
    padding: 5px 15px 0 15px;
}
#explanatory_type > span {
    color: #fff;
}

.bacground-gray {
    background: grey !important;
}