{{ template "header.tmpl.htm" . }}
<div class="seat_table_wrap" id="seat_table_wrap">
    <img class="seat_table_wrap_img" src="static/readingroom_06.png" alt="readingroom">
    <div class="seat_table_wrap_content">
        <div class="divScrollTable seatTable" id="tables35" style="float:left;position:absolute;top:86px;left:494px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="35" style="width:40px;height:40px;table-layout:fixed;">
                <tbody>
                    <tr>
                        <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;">
                            {{ template "seat.tmpl.htm" index .Seat 1 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables36" style="float:left;position:absolute;top:181px;left:495px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="36" style="width:40px;height:40px;table-layout:fixed;">
                <tbody>
                    <tr>
                        <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;">
                            {{ template "seat.tmpl.htm" index .Seat 2 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables37" style="float:left;position:absolute;top:283px;left:498px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="37" style="width:40px;height:40px;table-layout:fixed;">
                <tbody>
                    <tr>
                        <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;">
                            {{ template "seat.tmpl.htm" index .Seat 3 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ template "footer.tmpl.htm" . }}