{{ template "header.tmpl.htm" . }}
<div class="seat_table_wrap" id="seat_table_wrap">
    <img class="seat_table_wrap_img" src="static/readingroom_03.png" alt="readingroom" />
    <div class="seat_table_wrap_content">
        <div class="divScrollTable seatTable" id="tables10" style="float:left;position:absolute;top:136px;left:622px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="10" style="width:480px;height:40px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 63 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 64 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 65 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 66 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 67 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 68 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 69 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 70 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 71 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 72 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 73 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 74 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables11" style="float:left;position:absolute;top:386px;left:632px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="11" style="width:480px;height:40px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 60 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 59 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 58 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 57 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 56 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 55 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 54 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 53 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 52 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 51 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 50 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 49 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables12" style="float:left;position:absolute;top:13px;left:859px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="12" style="width:280px;height:40px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 83 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 82 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 81 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 80 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 79 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 78 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #f5f5f5;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 77 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables13" style="float:left;position:absolute;top:212px;left:574px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="13" style="width:40px;height:80px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 62 }}
                    </td>
                </tr>
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 61 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables14" style="float:left;position:absolute;top:210px;left:1105px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="14" style="width:40px;height:80px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 75 }}
                    </td>
                </tr>
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 76 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables15" style="float:left;position:absolute;top:320px;left:9px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="15" style="width:40px;height:80px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 100 }}
                    </td>
                </tr>
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 99 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables16" style="float:left;position:absolute;top:248px;left:90px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="16" style="width:160px;height:40px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 101 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 102 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 103 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;">
                        {{ template "seat.tmpl.htm" index .Seat 104 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables17" style="float:left;position:absolute;top:448px;left:64px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="17" style="width:120px;height:40px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 98 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 97 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 96 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables18" style="float:left;position:absolute;top:213px;left:433px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="18" style="width:80px;height:80px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 85 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 84 }}
                    </td>
                </tr>
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 86 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 87 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables19" style="float:left;position:absolute;top:354px;left:436px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="19" style="width:80px;height:80px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 89 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 88 }}
                    </td>
                </tr>
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 90 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 91 }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables20" style="float:left;position:absolute;top:355px;left:297px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="20" style="width:80px;height:80px;table-layout:fixed;">
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 93 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 92 }}
                    </td>
                </tr>
                <tr>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 94 }}
                    </td>
                    <td class="general_seat seat_style" style="border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;background-color:gray;">
                        {{ template "seat.tmpl.htm" index .Seat 95 }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{ template "footer.tmpl.htm" . }}