{{ template "header.tmpl.htm" . }}
<div class="seat_table_wrap" id="seat_table_wrap">
    <img class="seat_table_wrap_img" src="static/readingroom_01.png" alt="readingroom" />
    <div class="seat_table_wrap_content">
        <span class="etc_type" style="position:absolute;top:670px;left:517px;z-index:1;"><img src="static/img_exit.png" alt="" /></span>
        <div class="divScrollTable seatTable" id="tables10" style="float:left;position:absolute;top:552px;left:406px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="10" style="width:80px;height:120px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 12) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 7) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 11) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 8) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 10) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 9) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables11" style="float:left;position:absolute;top:551px;left:288px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="11" style="width:80px;height:120px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 18) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 13) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 17) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 14) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 16) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 15) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables12" style="float:left;position:absolute;top:552px;left:167px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="12" style="width:80px;height:120px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 24) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 19) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 23) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 20) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-left:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 22) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-right:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 21) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables13" style="float:left;position:absolute;top:444px;left:359px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="13" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 42) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 41) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 40) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 39) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 38) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 37) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 31) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 32) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 33) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 34) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 35) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 36) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables14" style="float:left;position:absolute;top:335px;left:358px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="14" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 66) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 65) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 64) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 63) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 62) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 61) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 55) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 56) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 57) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 58) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 59) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 60) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables15" style="float:left;position:absolute;top:229px;left:359px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="15" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 90) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 89) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 88) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 87) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 86) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 85) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 79) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 80) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 81) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 82) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 83) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 84) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables16" style="float:left;position:absolute;top:120px;left:359px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="16" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 114) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 113) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 112) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 111) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 110) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 109) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 103) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 104) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 105) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 106) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 107) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 108) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables17" style="float:left;position:absolute;top:444px;left:60px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="17" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 48) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 47) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 46) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 45) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 44) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 43) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 25) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 26) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 27) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 28) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 29) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 30) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables18" style="float:left;position:absolute;top:226px;left:59px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="18" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 96) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 95) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 94) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 93) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 92) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 91) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 73) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 74) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 75) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 76) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 77) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 78) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables19" style="float:left;position:absolute;top:119px;left:58px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="19" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 120) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 119) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 118) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 117) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 116) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 115) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 97) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 98) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 99) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 100) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 101) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 102) }}
                </tr>
            </table>
        </div>
        <div class="divScrollTable seatTable" id="tables20" style="float:left;position:absolute;top:336px;left:59px;transform:rotate(0deg);width:50px; height:50px;">
            <table id="20" style="width:240px;height:80px;table-layout:fixed;">
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 72) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 71) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 70) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 69) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 68) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-top:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 67) }}
                </tr>
                <tr>
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 49) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 50) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 51) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 52) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 53) }}
                    {{ template "seat.tmpl.htm" dict "Style" "border:2px solid #d53212;border-bottom:1px solid #f5f5f5;text-align:center;" "Data" (index .Seat 54) }}
                </tr>
            </table>
        </div>
    </div>
</div>
{{ template "footer.tmpl.htm" . }}